@import url(http://fonts.googleapis.com/css?family=Lato:300, 400, 700);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  font-family: "Lato", Arial, sans-serif;
}

a,
button {
  outline: none;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
