.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background-color: white;
}
.circle {
  border-radius: 50px;
  background-color: lime;
}
.terminal-container {
  margin-top: 3%;
  display: none;
}
.upper-terminal {
  text-align: center;
  padding-left: 10px;
  width: 40%;
  margin-left: 30%;
  background-color: rgb(224, 224, 224);
  border-radius: 15px 15px 0 0;
}
.terminal {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.7);
  font-size: 18px !important;
  background-color: rgba(0, 0, 0, 0.9);
  width: 40%;
  height: 50vh !important;
  margin-left: 30%;
  color: white;
  padding-left: 10px;
  border-radius: 0px 0 15px 15px;
}
@media only screen and (max-width: 800px) {
  .home-content h1 {
    margin-top: 20% !important;
  }
}
@media only screen and (max-width: 420px) {
  .terminal {
    font-size: 15px;
    height: 25vh !important;
    width: 80% !important;
    margin-left: 10%;
  }
  .upper-terminal {
    width: 80% !important;
    margin-left: 10%;
  }
  .sidebar-content a {
    padding: 20px !important;
  }
  .home-content {
    margin-top: 30%;
  }
  .welcome {
    display: none;
  }
}
.path1 {
  stroke-width: 10px;
  stroke: red;
}
#sidebarId {
  /* font-family: "Varela Round", sans-serif; */
  font-family: "Righteous", cursive;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  width: 0%;
  height: 100% !important;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  /* transition: 0.5s; */
}
.sidebar-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 0%;
}
.sidebar a {
  color: lightgrey;
  text-decoration: none;
  display: block;
  padding: 1.5%;
  font-size: 40px;
}
.sidebar a:hover {
  color: white;
  letter-spacing: 2px;
}
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  background: none;
  color: white;
  border: 0px;
  transition: font-size 0.3s;
}
.closebtn:hover {
  cursor: pointer;
  font-size: 45px;
}
.openSidebar-btn {
  background: none;
  border: 0px;
  outline: none;
  margin: 2%;
  margin-bottom: 0%;
  position: fixed;
  color: black;
  font-size: 35px;
  transition: font-size 0.3s;
}
.openSidebar-btn:hover {
  cursor: pointer;
  font-size: 40px;
}
#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
.sidebar a {
  transition: letter-spacing 0.3s;
}
.home-content {
  color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
.home-content h1 {
  /* font-family: "Varela Round", sans-serif; */
  margin-top: 8%;
  /* text-shadow: 0px 2px 4px white; */
  font-family: "Righteous", cursive;
  font-size: 100px;
}
.home-content p {
  font-family: "Righteous", cursive;
  font-size: 25px;
  margin-top: 1%;
}
.chgv-btn {
  background: none;
  border: 0px;
  outline: none;
  margin: 2%;
  right: 0;
  margin-bottom: 0%;
  position: fixed;
  color: black;
  font-size: 35px;
  transition: font-size 0.3s;
}
.chgv-btn:hover {
  cursor: pointer;
  font-size: 40px;
}
#fps {
  display: none;
}
.chgbg-btn {
  background: none;
  border: 0px;
  outline: none;
  margin: 2%;
  margin-top: 4%;
  right: 0;
  margin-bottom: 0%;
  position: fixed;
  color: black;
  font-size: 35px;
  transition: font-size 0.3s;
}
.chgbg-btn:hover {
  cursor: pointer;
  font-size: 40px;
}
